{% extends 'state/base.html' %}
	{%block body_block%} 
		{% load staticfiles %}
		<br><br><br>
		<div class="jumbotron jumbotron-fluid" style="height: 300px;" >
			<div class="container" >
				
					<div class="row" style="height: 100px;">
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title"><u>Add Rajasthan(East) Temperature Records</u> :</h5>
									<p class="card-text">This form is filled by the the authenticated people. It require ID and pass.</p>
									<a href="/station_temperature_form" class="btn btn-primary">Add Data</a>
								</div>
							</div>
						</div>
			
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title"><u>Rajasthan(East) Display Data</u> :</h5>
									<p class="card-text">From this portal we can see the data according to our requirements.It conatin five different portal</p>
									<a href="/rajasthan_east_display_data" class="btn btn-primary">Display Data</a>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	{% endblock %}